{
  "AWS_ACCESS_KEY_ID": "foo",
  "AWS_SECRET_ACCESS_KEY": "bar",
  "region": "us-east-2",
  "RABBIT_URL": "amqp://foo.bar",
  "POLLING_INTERVAL_IN_SECONDS": 10,
  "BOOKMARKS_API": "http://ec2-18-219-171-58.us-east-2.compute.amazonaws.com:3000/api/bookmarks"
}